body {
  background-color: gray;
  #app {
    height: 100%;

    h1 {
      color: #43A047;
    }
    display:flex;
    justify-content: center;

    .container {
      width: 1000px;
      padding: 20px;
    }

    .page-header {
      display: flex;
      justify-content: center;
    }

    .content-wrapper {
      display: flex;
      justify-content: center;
      padding: 50px 0;

      .page-content {
        width: 100%;
      }

      .prompt-wrapper {
        color: #E91E63;
        font-size: large;
      }
    }

    .page-footer {
      display: flex;
      .prev-button-wrapper {
        flex: 1;
      }
    }
  }
}